<?xml version='1.0' encoding='utf-8'?>
<widget id="biz.rustorg.ras" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Расписание</name>
    <description>
        Расписание уроков.
    </description>
    <author email="doctype.html@ya.ru" href="http://melkosoftcom.github.io">
        Мелкософт
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
